* {
    font-family: 'Outfit', sans-serif;
    
text-align: center;

}

body {
    height: 1000px;
    
}

#start {
    margin: 0 auto;
    display: none;
}

.questionBlock {
    display: none;
     
}

h1 {
    font-size: 3.5rem;
    margin: 30px;
    

}


.question {
    width: 70%;
    max-height: 100px;
    background-color: rgb(238, 248, 145);
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    }

/* .question p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
} */

.answer {
    width: 70%;
    max-height: 100px;
    background-color: rgb(145, 210, 248);
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

#score {
    width: 70%;
    max-height: 100px;
    background-color: rgb(136, 95, 160);
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    width: 100px;
    height: 50px;
    background-color:rgb(238, 248, 145);
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem;
}

.dropdown {
    width: 15rem;
    height: 5rem;
    background-color:rgb(136, 95, 160);
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem;
}

.qDropdown {
    width: 6rem;
    height: 3rem;
    background-color:rgb(136, 95, 160);
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem;
}